@use "@angular/material" as mat;

@include mat.core();

$sm-theme: mat.define-theme((
    typography: (
      plain-family: Roboto,
    ),
    density: (
        scale: -2
    )
));

.my-sm {
    @include mat.button-density(-5);
    & {
        font-size:8px;
    }
  }