/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "./styles/sizes";
//@include mat.core();

html {
  @include mat.theme((
    typography: Roboto,
    density: 0,
  ));
  
}

html,
body {
  height: 100%;
  font: var(--mat-sys-body-medium);
}
body {
  margin: 0;
}